<main>
    <div class="products__container">

        <div class="top__container">
            <div class="top__container__left">
                <h3>Listado de productos</h3>
            </div>

            <div class="top__container__right">
                <div class="top__container__right--sup">
                    <div class="left--svg" [ngClass]="isActive ? 'active': 'inactive'" (click)="changeActive()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#444444" class="bi bi-list-ul" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                    </div>
                    <div class="right--svg" [ngClass]="isActive ? 'inactive': 'active'" (click)="changeActive()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#444444" class="bi bi-grid-fill" viewBox="0 0 16 16">
                            <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z"/>
                        </svg>
                    </div>
                </div>
                <div class="top__container__right--inf">
                    <input #search type="text" placeholder="Buscador" (keyup)="searchProduct(search.value)">
                </div>
            </div>
        </div>

        <div class="main__container" [ngClass]="isActive ? 'active': 'inactive'">
            <div *ngFor="let product of products; let i = index" class="card__container" [ngClass]="isActive ? 'active' : 'inactive'">
                <img src="{{ product.image }}" alt="">
                <div class="content__container">
                    <div class="sup__container">
                        <p class="name">{{ product.name }}</p>
                        <p class="price">€{{ product.price }}</p>
                        <p class="description">{{ product.description }}</p>
                    </div>
                    <div class="rating__container">
                        <ng-container *ngFor="let i of stars">
                            <i class="fa-solid fa-star" [ngClass]="{'active': i <= product.stars}"></i>
                        </ng-container>
                        <button [routerLink]="['/gestion', product.id]" class="editar">Editar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</main>
