main {
    max-width: calc(100vw - var(--scrollbar));
    min-height: 100vh;
    background-color: #cccccc;
    padding-top: 79px;
    padding-bottom: 79px;
    font-family: 'Inter', sans-serif;

    .products__container {
        max-width: 1200px;
        height: auto;
        margin: auto;
        background-color: white;
        border-radius: 10px;
        padding: 3rem 2rem 5rem;

        .top__container {
            display: flex;
            justify-content: space-between;

            .top__container__left {

            }

            .top__container__right {

                .top__container__right--sup {
                    display: flex;
                    justify-content: flex-end;

                    .inactive {
                        background-color: #ededed;
                        padding: .75rem 1.5rem .5rem;
                        border-radius: 10px;
                    }

                    .active {
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        padding: .75rem 1.5rem .5rem;
                        border-radius: 10px;
                    }
                }

                .top__container__right--inf {
                    height: 88px;

                    input {
                        width: 200px;
                        border-radius: 3px;
                        border: 1.2px solid black;
                        padding: .5rem;
                        margin-top: 1rem;
                    }
                }
            }
        }

        .main__container {
            display: flex;
            justify-content: space-between;
            align-self: stretch;
            height: 100%;
            flex-wrap: wrap;

            .card__container {
                width: 259px;
                height: 440px;
                display: flex;

                img {
                    max-width: 227px;
                    height: 227px;
                    object-fit: contain;
                }

                .content__container {
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    flex-grow: 1;

                    .sup__container {

                        .name {
                            font-weight: 400;
                            margin: .75rem 0;
                        }
        
                        .price {
                            font-weight: 900;
                            font-size: 26px;
                            margin: .75rem 0;
                        }
        
                        .description {
                            font-weight: 300;
                            margin: .75rem 0;
                        }
        
                    }
    
                    .rating__container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 1rem 0;
        
                        i {
                            color: #999999;
                            cursor: pointer;
                        }
        
                        .active {
                            color: orange;
                        }
    
                        .editar {
                            background-color: white;
                            border: 1px solid #2979FF;
                            color: #2979FF;
                            border-radius: 3px;
                            padding: .5rem 1.2rem;
                        }
                    }

                    .rating__container.active {
                        gap: 1rem;

                        .editar {
                            margin: 0 1rem;
                        }
                    }
                }
                
            }

            .card__container.active {
                flex-direction: row;
                justify-content: space-between;
                gap: 2rem;
                width: 50%;

                .content__container {
                    height: 250px;
                }
            }

            .card__container.inactive {
                flex-direction: column;
            }
        }

        .main__container.active {
            flex-direction: column;
        }
    
        .main__container.inactive {
            flex-direction: row;
        }

    }


}